{{- define "main" -}}

{{ if .Content }}
<div class="prose dark:prose-invert max-w-none w-full mb-10">
  {{ .Content }}
</div>
{{ end }}

<!-- $pages -->
{{- $pages := union .RegularPages .Sections -}}
{{- if .IsHome -}}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections -}}
{{- end -}}

<!-- Articles -->
{{- $paginator := .Paginate $pages -}}
{{- range $index, $page := $paginator.Pages -}}
<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
  {{- if gt .Weight 0 -}}
  <span class="mb-1 inline-block text-xs tracking-wider text-orange-500">Featured</span>
  {{- end -}}
  <h2 class="my-0!">{{- .Title -}}</h2>
  <a class="absolute inset-0 text-[0px]" href="{{- .Permalink -}}">{{- .Title -}}</a>
</section>
{{- end -}}

{{- end -}}
